.nav-toggle {
  display: none;
  font-size: 2.0rem;
  background: none;
  border: none;
  color: rgb(235, 145, 145);
  cursor: pointer;
}

.nav-list a {
  color: rgb(228, 237, 245);
}

.nav-list a:hover {
  color: #f0a500;
}

.card {
  background: rgb(231, 229, 116);
  padding: 2.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

/* Botón hamburguesa visible en móvil */
@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }
}
/* === Carrusel === */
.carousel {
  position:relative;
  max-width: 100%;
  height: 200px;
  overflow: hidden;
  margin: 5rem auto;
}

.carousel-container {
  display: flexbox;
}

.carousel-slide {
   width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-slide.active {
  display: block;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}

.carousel-btn:hover {
  background: rgba(0,0,0,0.8);
}
